@font-face {
    font-family: NanumBarunGothicLight;
    src: url(/font/NanumBarunGothicLight.ttf)
}

@font-face {
    font-family: FiraCodeLight;
    src: url(/font/FiraCodeLight.ttf)
}

* {
    font-family: FiraCodeLight, NanumBarunGothicLight;
}